each poll in mypolls
    - var pollLayout = poll.is_options_image ? 2 : (poll.is_question_image ? 1 : 0);
    .card
        .delete-container
            a(data-toggle="modal" data-target="#deleteModal")
                img#delete-img(src='assets/images/trash.png', alt='delete image', onclick='updateDeletePollId(\'' + poll._id + '\')')
        .card-header
            .circletag
                if (poll.is_question_image)
                    img.card-img-top(src= poll.question_img_url, alt='Card image cap')
                else
                    img.card-img-top(src='/assets/images/logo_large.png', alt='Card image cap')
            .votes-container
                p= `${poll.no_of_votes} votes`
        if poll.question_text || poll.question
            .card-body
                if poll.question_text
                    p.card-text= poll.question_text
                else
                    p.card-text= poll.question
        button.join-poll-btn(onclick='navigateToPoll(\'' + poll._id + '\',\''+ pollLayout +'\')') POLL NOW
