each poll in mypolls
    .card
        .delete-container
            a(data-toggle="modal" data-target="#deleteModal")
                img#delete-img(src='assets/images/trash.png', alt='delete image')
        .card-header
            #nay.circletag
                img.card-img-top(src='/assets/images/logo_large.png', alt='Card image cap')
            .votes-container
                p= noOfVotes
        .card-body
            p.card-text= poll.question
        button.join-poll-btn(onclick='navigateToPoll(\'' + poll._id + '\')') POLL NOW
