each polls in pollquestion
    .card
        if (polls.is_question_image)
            img.card-img-top(src= polls.question_img_url, alt='Card image cap')
        else 
            img.card-img-top(src='/assets/images/polls-grid.png', alt='Card image cap')
        if polls.question_text || polls.question
            .card-body
                if polls.question_text
                    p.card-text= polls.question_text
                else
                    p.card-text= polls.question
        button.join-poll-btn(onclick='navigateToPoll(\'' + polls._id + '\',\''+ polls.is_question_image +'\',\''+ polls.is_options_image +'\')') POLL NOW