each polls in pollquestion
    .card
        if (polls.is_question_image)
            img.card-img-top(src= polls.question_img_url, alt='Card image cap')
        else 
            img.card-img-top(src='/assets/images/polls-grid.png', alt='Card image cap')
        if poll.question_text || poll.question
            .card-body
                if poll.question_text
                    p.card-text= poll.question_text
                else
                    p.card-text= poll.question
        button.join-poll-btn(onclick='navigateToPoll(\'' + polls._id + '\')') POLL NOW